body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.input-group {
  margin-bottom: 5px;
}

.input-group-addon {
  min-width: 160px;
}

.logo {
  max-width: 75px;
  float: left;
  margin: 10px 10px 10px 0;
}

h1 {
  margin-top: .67em;
}

.form-control {
  text-align: center;
}

input[type=color] {
  padding: 0;
  min-height: 38px;
  -webkit-appearance:none;
}

input[type=color]::after {
  content: attr(value);
  color: darkgrey;
  font-size: 16px;
  position: relative;
  top: -26px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=color]::-moz-color-swatch {
  border: none;
}
