body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.row {
  margin: 7px 0 0 0;
}

.input-group-addon {
  min-width: 160px;
}

.btn {
  width: 150px;
  margin: 5px 0 0 0;
}

.logo {
  width: 75px;
  height: 75px;
  float: left;
  position: relative;
  top: -20px;
  margin: 0 10px 0 0;
}

.form-control {
  text-align: center;
}

input[type=color] {
  padding: 0;
}